/* ==========================================================================
    Color # 1 
   ======================== ================================================== */

.atributos,.light_blue,.curso_btn,.circle,.login_btn,.brand_line{
  background-color:#0f8dcd;
  color: #fff;
}

.light_blue:hover,.curso_btn:hover,.login_btn:hover{
  background-color:#33adeb;
  color: #fff;
}
/* ==========================================================================
    Color # 1 TEXTO
   ======================== ================================================== */
.curso_des h2, .encabezado_wrap h6,.col2_wrap h4,.pensum_block h2,.teacher_col2 h3{
  color:#0f8dcd;
}
/* ==========================================================================
    Color # 2
   ======================== ================================================== */
.color2,.encabezado{
  background-color:#0c4a6e;
  color: #fff;
}

.color2:hover{
  background-color:#1c5e85;
  color: #fff;
}
/* ==========================================================================
    Color # 2 TEXTO
   ======================== ================================================== */
.dark_blue,nav ul li,.atributo_wrap h2,h4,.plan_wrap h3, .autocomplete-jquery-item {  
  color: #0c4a6e;
}
/* ==========================================================================
    Color # 3
   ======================== ================================================== */
/* ==========================================================================
    Color # 3 TEXTO
   ======================== ================================================== */
.desktop_nav a:link,.desktop_nav a:visited,.desktop_nav a:active,.atributo_wrap p, h5,.curso_des p,.testimonial_wrap p,.pepName h5,.pepName p,.col2_wrap p,
.col2_wrap ul,.pensum_block p,.teacher_col2 h2,.teacher_col2 p{
  color:#575756;
}
/* ==========================================================================
    Color # 4
   ======================== ================================================== */
.filtro input,.login_wrap input{
  background-color: #fff;
}
/* ==========================================================================
    Color # 4 TEXTO
   ======================== ================================================== */
.encabezado_wrap p,.empezar_btn,.facebook_btn{
  color:#fff;
}
/* ==========================================================================
    Color # 5 VER CURSOS BTN
   ======================== ================================================== */
.ver_cursos{
  color:#fff;
  background-color:#f28d18;
}
.ver_cursos:hover{
  background-color:#ff9d2b;
}