/* ==========================================================================
    Color # 1 
   ======================== ================================================== */

.atributos,.light_blue,.curso_btn,.circle{
  background-color:#0f8dcd;
  color: #fff;
}

.light_blue:hover,.curso_btn:hover{
  background-color:#33adeb;
  color: #fff;
}
/* ==========================================================================
    Color # 1 TEXTO
   ======================== ================================================== */
.curso_des h2, .encabezado_wrap h6{
  color:#0f8dcd;
}
/* ==========================================================================
    Color # 2
   ======================== ================================================== */
.color2,.encabezado{
  background-color:#0c4a6e;
  color: #fff;
}

.color2:hover{
  background-color:#1c5e85;
  color: #fff;
}
/* ==========================================================================
    Color # 2 TEXTO
   ======================== ================================================== */
.dark_blue,nav ul li,.atributo_wrap h2,h4,.plan_wrap h3{  
  color: #0c4a6e;
}
/* ==========================================================================
    Color # 3
   ======================== ================================================== */
/* ==========================================================================
    Color # 3 TEXTO
   ======================== ================================================== */
.atributo_wrap p, h5,.curso_des p,.testimonial_wrap p,.pepName h5,.pepName p{
  color:#575756;
}
/* ==========================================================================
    Color # 4
   ======================== ================================================== */
.filtro input{
  background-color: #fff;
}
/* ==========================================================================
    Color # 4 TEXTO
   ======================== ================================================== */
.encabezado_wrap p{
  color:#fff;
}
/* ==========================================================================
    Color # 5 VER CURSOS BTN
   ======================== ================================================== */
.ver_cursos{
  color:#fff;
  background-color:#f28d18;
}
.ver_cursos:hover{
  background-color:#ff9d2b;
}